:root{
	--primary-color: #00f5d4;
	--secondary-color: #00bbf9;
	--tertiary-color: #fee440;
	--quaternary-color: #f15bb5;
	--quinary-color: #9b5de5;
	
}

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color:var(--tertiary-color) ;
}

.container-padding50 {
	padding-top: 50px;
	
}

.container-textinput {
	width: 80%;
	border-radius: 24px;

	
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
			border-radius: 24px;

	display: inline-block;
	padding: 20px;
	background-color:var(--quaternary-color);
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

}

.container-image {
	
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}